# Creating Redshift cluster using the AWS python SDK

In [1]:
import pandas as pd
import boto3
import json
import configparser
from botocore.exceptions import ClientError

In [22]:
config = configparser.ConfigParser()
config.read('dwh.cfg')

KEY                   = config.get('AWS', 'KEY')
SECRET                = config.get('AWS', 'SECRET')

DWH_CLUSTER_TYPE       = config.get("DWH","DWH_CLUSTER_TYPE")
DWH_NUM_NODES          = config.get("DWH","DWH_NUM_NODES")
DWH_NODE_TYPE          = config.get("DWH","DWH_NODE_TYPE")

DWH_CLUSTER_IDENTIFIER = config.get("DWH","DWH_CLUSTER_IDENTIFIER")
DWH_DB                 = config.get("DWH","DWH_DB")
DWH_DB_USER            = config.get("DWH","DWH_DB_USER")
DWH_DB_PASSWORD        = config.get("DWH","DWH_DB_PASSWORD")
DWH_PORT               = config.get("DWH","DWH_PORT")

DWH_IAM_ROLE_NAME      = config.get("DWH", "DWH_IAM_ROLE_NAME")

pd.DataFrame({"Param":
                  ["DWH_CLUSTER_TYPE", "DWH_NUM_NODES", "DWH_NODE_TYPE", "DWH_CLUSTER_IDENTIFIER", "DWH_DB", "DWH_DB_USER", "DWH_DB_PASSWORD", "DWH_PORT", "DWH_IAM_ROLE_NAME"],
              "Value":
                  [DWH_CLUSTER_TYPE, DWH_NUM_NODES, DWH_NODE_TYPE, DWH_CLUSTER_IDENTIFIER, DWH_DB, DWH_DB_USER, DWH_DB_PASSWORD, DWH_PORT, DWH_IAM_ROLE_NAME]
             })

                    Param               Value
0        DWH_CLUSTER_TYPE          multi-node
1           DWH_NUM_NODES                   4
2           DWH_NODE_TYPE           dc2.large
3  DWH_CLUSTER_IDENTIFIER  redshift-cluster-1
4                  DWH_DB                 dev
5             DWH_DB_USER             awsuser
6         DWH_DB_PASSWORD         95070249Ac#
7                DWH_PORT                5439
8       DWH_IAM_ROLE_NAME      myRedshiftRole

### Create clients for IAM, EC2, S3 and Redshift

#### Note:This resources are being created in the us-east-1 region

In [3]:
ec2 = boto3.resource('ec2', 
                    region_name = "us-west-2",
                   aws_access_key_id = KEY,
                   aws_secret_access_key=SECRET)
s3 = boto3.resource('s3',
                    region_name = "us-west-2",
                   aws_access_key_id = KEY,
                   aws_secret_access_key=SECRET)
iam = boto3.client('iam',
                   region_name = "us-west-2",
                   aws_access_key_id = KEY,
                   aws_secret_access_key=SECRET)
redshift = boto3.client('redshift',
                        region_name = "us-west-2",
                   aws_access_key_id = KEY,
                   aws_secret_access_key=SECRET)

In [4]:
s3bucket = s3.Bucket("udacity-dend")

s3_logs = iter(s3bucket.objects.filter(Prefix = "log-data"))
for _ in range(10):
    print(next(s3_logs))

s3_songs = iter(s3bucket.objects.filter(Prefix = "song_data"))
for _ in range(10):
    print(next(s3_songs))

s3.ObjectSummary(bucket_name='udacity-dend', key='log-data/')
s3.ObjectSummary(bucket_name='udacity-dend', key='log-data/2018/11/2018-11-01-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log-data/2018/11/2018-11-02-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log-data/2018/11/2018-11-03-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log-data/2018/11/2018-11-04-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log-data/2018/11/2018-11-05-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log-data/2018/11/2018-11-06-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log-data/2018/11/2018-11-07-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log-data/2018/11/2018-11-08-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log-data/2018/11/2018-11-09-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='song_data/')
s3.ObjectSummary(bucket_name='udacity-dend', key='song_data/A/A/A/TRAAAAK128F9318786.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='song_data/A/A/A/TRAAAAV128F421A322.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='song_data/A/A/A/TRAAABD128F429CF47.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='song_data/A/A/A/TRAAACN128F9355673.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='song_data/A/A/A/TRAAAEA128F935A30D.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='song_data/A/A/A/TRAAAED128E0783FAB.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='song_data/A/A/A/TRAAAEM128F93347B9.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='song_data/A/A/A/TRAAAEW128F42930C0.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='song_data/A/A/A/TRAAAFD128F92F423A.json')

In [5]:
#1.1 Create the Redshift Role

try:
    print("1.1 Creating a IAM Role : myRedshiftRole")
    dwhRole = iam.create_role(
        Path = '/',
        RoleName = DWH_IAM_ROLE_NAME,
        Description = "Allows Redshift clusters to call AWS services on your behalf.",
        AssumeRolePolicyDocument=json.dumps(
                {'Statement': [{"Action": "sts:AssumeRole",
                    'Effect': 'Allow',
                    'Principal': {'Service': 'redshift.amazonaws,com'}}],
                 'Version': '2022-08-25'
                    
                })
            )
except Exception as e:
    print(e)

print("1.2 Attaching Policy")

iam.attach_role_policy(RoleName = DWH_IAM_ROLE_NAME,
                       PolicyArn = "arn:aws:iam::aws:policy/AmazonS3ReadOnlyAccess"
                        )['ResponseMetadata']['HTTPStatusCode']

print("1.3 Get the IAM role ARN")
roleArn = iam.get_role(RoleName = DWH_IAM_ROLE_NAME)['Role']['Arn']

print(roleArn)

1.1 Creating a IAM Role : myRedshiftRole
An error occurred (EntityAlreadyExists) when calling the CreateRole operation: Role with name myRedshiftRole already exists.
1.2 Attaching Policy
1.3 Get the IAM role ARN
arn:aws:iam::338405110786:role/myRedshiftRole

In [8]:
try:
    response = redshift.create_cluster(
        ClusterType=DWH_CLUSTER_TYPE,
        NodeType=DWH_NODE_TYPE,
        NumberOfNodes=int(DWH_NUM_NODES),
        
        #Identifiers & Credentials
        DBName=DWH_DB,
        ClusterIdentifier=DWH_CLUSTER_IDENTIFIER,
        MasterUsername=DWH_DB_USER,
        MasterUserPassword =DWH_DB_PASSWORD,
        
        #Roles (for s3 access)
        IamRoles = [roleArn]
    )
except Exception as e:
    print(e)

An error occurred (ClusterAlreadyExists) when calling the CreateCluster operation: Cluster already exists

### 2.1 Describe the cluster to see its status

In [6]:
def prettyRedshiftProps(props):
    pd.set_option('display.max_colwidth', None)
    keysToShow = ["ClusterIdentifier", "NodeType", "ClusterStatus", "MasterUsername", "DBName", "Endpoint", "NumberofNodes", "VpcId"]
    x = [(k,v) for k, v in props.items() if k in keysToShow]
    return pd.DataFrame(data=x, columns=["Keys", "values"])

myClusterProps = redshift.describe_clusters(ClusterIdentifier = DWH_CLUSTER_IDENTIFIER)['Clusters'][0]
prettyRedshiftProps(myClusterProps)

,Keys,values
0,ClusterIdentifier,redshift-cluster-1
1,NodeType,dc2.large
2,ClusterStatus,available
3,MasterUsername,awsuser
4,DBName,dev
5,Endpoint,"{'Address': 'redshift-cluster-1.ctohmfjuihk5.us-west-2.redshift.amazonaws.com', 'Port': 5439}"
6,VpcId,vpc-0ba29c19ad2e11f91

### 2.2 Take note of the cluster endpoint and role ARN

<font color='red'>DO NOT RUN THIS UNLESS the cluster status becomes "Available". Make ure you are checking your Amazon Redshift cluster in the **us-west-2** region.
</font>

In [7]:
DWH_ENDPOINT = myClusterProps['Endpoint']['Address']
DWH_ROLE_ARN = myClusterProps["IamRoles"][0]['IamRoleArn']
print("DWH_ENDPOINT ::", DWH_ENDPOINT)
print("DWH_ROLE_ARN :: ", DWH_ROLE_ARN)

DWH_ENDPOINT :: redshift-cluster-1.ctohmfjuihk5.us-west-2.redshift.amazonaws.com
DWH_ROLE_ARN ::  arn:aws:iam::338405110786:role/myRedshiftRole

### STEP 3: Open an incoming TCP port to acces the cluster endpoint

In [16]:
try:
    vpc = ec2.Vpc(id=myClusterProps['VpcId'])
    defaultSg = list(vpc.security_groups.all())[0]
    print(defaultSg)
    defaultSg.authorize_ingress(
        GroupName = defaultSg.group_name,
        CidrIp = '0.0.0.0/0',
        IpProtocol = 'TCP',
        FromPort = int(DWH_PORT),
        ToPort = int(DWH_PORT))
except Exception as e:
    print(e)

ec2.SecurityGroup(id='sg-04ad272e2f18ef8ae')

### STEP 4: Make Sure you can connect to the cluster

In [10]:
%load_ext sql

In [13]:
conn_string = "postgres://{}:{}@{}:{}/{}".format(DWH_DB_USER, DWH_DB_PASSWORD, DWH_ENDPOINT, DWH_PORT, DWH_DB)
print(conn_string)
%sql $conn_string

postgres://awsuser:95070249Ac#@redshift-cluster-1.ctohmfjuihk5.us-west-2.redshift.amazonaws.com:5439/dev

## STEP 5: CLEAN UP YOUR RESOURCES

<b><font color = "red"> DO NOT RUN THIS UNLESS YOU ARE SURE <br/>

In [43]:
# CAREFULL !!
# -- Uncomment & run to delete the created resources
redshift.delete_cluster(ClusterIdentifier=DWH_CLUSTER_IDENTIFIER, SkipFinalClusterSnapshot=True)
#CAREFULL !!

ClusterNotFoundFault: An error occurred (ClusterNotFound) when calling the DeleteCluster operation: Cluster redshift-cluster-1 not found.

In [42]:
myClusterProps = redshift.describe_clusters(ClusterIdentifier=DWH_CLUSTER_IDENTIFIER)['Clusters'][0]
prettyRedshiftProps(myClusterProps)

ClusterNotFoundFault: An error occurred (ClusterNotFound) when calling the DescribeClusters operation: Cluster redshift-cluster-1 not found.

> run this block several times until the cluster really deleted

In [ ]:
#### CAREFUL!!
#-- Uncomment & run to delete the created resources
#iam.detach_role_policy(RoleName=DWH_IAM_ROLE_NAME, PolicyArn="arn:aws:iam::aws:policy/AmazonS3ReadOnlyAccess")
#iam.delete_role(RoleName=DWH_IAM_ROLE_NAME)
#### CAREFUL!!

In [16]:
%sql SELECT * FROM artist limit 10;

 * postgres://awsuser:***@redshift-cluster-1.ctohmfjuihk5.us-west-2.redshift.amazonaws.com:5439/dev
10 rows affected.

[('ARWIACA11E2835CEB2', 'The Undisputed Truth', '', None, None),
 ('ARFVXTA1187B997BCB', 'Ra', 'East Rutherford, NJ', None, None),
 ('ARKT4DG1187B9A8C19', 'Kids Like Us', '', None, None),
 ('AR3AL881187FB44B52', 'Jens Lekman', 'Gothenburg, Sweden', '57.70133', None),
 ('ARZO9UQ1187FB4D261', 'Alliance Ethnik', 'Creil, France', '49.25953', None),
 ('ARTJUNP1241B9C441E', 'Ville Lope & Chantola', '', None, None),
 ('ARBAP9P1187FB5676A', 'King Creosote', '', None, None),
 ('ARI4SKQ1187B9B43B0', 'Beres Hammond', '', None, None),
 ('AR7FUJJ1187B9A9DB7', 'Seals and Crofts', 'Los Angeles, CA', None, None),
 ('ARATR0U1187B9B76D0', 'Dead To Me', 'San Francisco, CA', None, None)]

In [17]:
%sql SELECT * FROM time limit 10;

 * postgres://awsuser:***@redshift-cluster-1.ctohmfjuihk5.us-west-2.redshift.amazonaws.com:5439/dev
10 rows affected.

[(datetime.datetime(2018, 11, 1, 22, 23, 14), 22, 1, 44, 11, 2018, '4'),
 (datetime.datetime(2018, 11, 2, 9, 16, 16), 9, 2, 44, 11, 2018, '5'),
 (datetime.datetime(2018, 11, 2, 9, 35, 25), 9, 2, 44, 11, 2018, '5'),
 (datetime.datetime(2018, 11, 2, 9, 40, 11), 9, 2, 44, 11, 2018, '5'),
 (datetime.datetime(2018, 11, 2, 9, 54, 59), 9, 2, 44, 11, 2018, '5'),
 (datetime.datetime(2018, 11, 2, 10, 21, 25), 10, 2, 44, 11, 2018, '5'),
 (datetime.datetime(2018, 11, 2, 11, 25, 30), 11, 2, 44, 11, 2018, '5'),
 (datetime.datetime(2018, 11, 2, 11, 39, 40), 11, 2, 44, 11, 2018, '5'),
 (datetime.datetime(2018, 11, 2, 11, 44, 8), 11, 2, 44, 11, 2018, '5'),
 (datetime.datetime(2018, 11, 2, 11, 52, 19), 11, 2, 44, 11, 2018, '5')]

In [18]:
%sql SELECT * FROM songs limit 10;

 * postgres://awsuser:***@redshift-cluster-1.ctohmfjuihk5.us-west-2.redshift.amazonaws.com:5439/dev
10 rows affected.

[('SOQXJID12A8AE456CD', 'Domingo astronómico', 'ARBJ3VU1187B9B472D', 2005, 264.69832),
 ('SODJYTL12A8C14550E', 'Noi Nel Bene_ Noi Nel Male', 'ARHAJH611C8A4219F1', 0, 223.242),
 ('SOUVTOG12A67ADAE5C', 'Ich vermiss Dich', 'ARJEOGL1187B98E9D4', 2006, 210.72934),
 ('SOHBTHU12A8C135B8F', 'Polish', 'ARGKBZQ1187B992BFE', 0, 250.98404),
 ('SOOTBYV12AB0186EC8', 'Gold', 'ARNULK21187FB46537', 1988, 260.91057),
 ('SOOBRRO12A8C139153', "Tatuerarevalsen (remaster '03)", 'AROLE161187B98F7E4', 0, 181.28934),
 ('SOSIBHK12A8C132C89', 'I Miangaly No Manina', 'ARB0YWU1187FB37A96', 0, 168.80281),
 ('SOXWMCD12AB01810DB', 'Loko', 'ARSSDXP1250940EA97', 2005, 227.89179),
 ('SOTSMNJ12AB018365E', 'Gossippo Perpetuo', 'ARK2G5U1187FB46B34', 2001, 127.9473),
 ('SOHPVWT12AB0184E54', 'Perfect Love Antidote BoBmo First Remix', 'ARJ06YC1187B9A4CF8', 2008, 281.65179)]

In [19]:
%sql SELECT * FROM songplays order by songplay_id limit 10;

 * postgres://awsuser:***@redshift-cluster-1.ctohmfjuihk5.us-west-2.redshift.amazonaws.com:5439/dev
10 rows affected.

[(0, datetime.datetime(2018, 11, 5, 15, 31, 19), 24, 'paid', 'SOBONKR12A58A7A7E0', '23', None, 'Lake Havasu City-Kingman, AZ', '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.125 Safari/537.36"'),
 (1, datetime.datetime(2018, 11, 15, 21, 25, 45), 49, 'paid', 'SOKHAAU12A6D4F71EF', '630', None, 'San Francisco-Oakland-Hayward, CA', 'Mozilla/5.0 (Windows NT 5.1; rv:31.0) Gecko/20100101 Firefox/31.0'),
 (2, datetime.datetime(2018, 11, 5, 17, 54, 12), 25, 'paid', 'SOKOGIP12AB0182FCD', '231', None, 'Marinette, WI-MI', '"Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"'),
 (3, datetime.datetime(2018, 11, 15, 19, 6, 33), 97, 'paid', 'SOBONKR12A58A7A7E0', '605', None, 'Lansing-East Lansing, MI', '"Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/37.0.2062.94 Safari/537.36"'),
 (4, datetime.datetime(2018, 11, 2, 18, 36, 53), 71, 'free', 'SOBBZPM12AB017DF4B', '70', None, 'Columbia, SC', '"Mozilla/5.0 (iPhone; CPU iPhone OS 7_1_1 like Mac OS X) AppleWebKit/537.51.2 (KHTML, like Gecko) Version/7.0 Mobile/11D201 Safari/9537.53"'),
 (5, datetime.datetime(2018, 11, 7, 18, 11, 11), 15, 'paid', 'SODTRKW12A6D4F9A51', '221', None, 'Chicago-Naperville-Elgin, IL-IN-WI', '"Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Ubuntu Chromium/36.0.1985.125 Chrome/36.0.1985.125 Safari/537.36"'),
 (6, datetime.datetime(2018, 11, 7, 15, 41, 10), 15, 'paid', 'SOWEUOO12A6D4F6D0C', '221', None, 'Chicago-Naperville-Elgin, IL-IN-WI', '"Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Ubuntu Chromium/36.0.1985.125 Chrome/36.0.1985.125 Safari/537.36"'),
 (7, datetime.datetime(2018, 11, 3, 17, 59, 1), 15, 'paid', 'SOHTKMO12AB01843B0', '199', None, 'Chicago-Naperville-Elgin, IL-IN-WI', '"Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Ubuntu Chromium/36.0.1985.125 Chrome/36.0.1985.125 Safari/537.36"'),
 (8, datetime.datetime(2018, 11, 15, 13, 17, 4), 30, 'paid', 'SOYUKXG12A58A77837', '324', None, 'San Jose-Sunnyvale-Santa Clara, CA', 'Mozilla/5.0 (Windows NT 6.1; WOW64; rv:31.0) Gecko/20100101 Firefox/31.0'),
 (9, datetime.datetime(2018, 11, 17, 14, 48, 49), 73, 'paid', 'SODLAPJ12A8C142002', '518', None, 'Tampa-St. Petersburg-Clearwater, FL', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.78.2 (KHTML, like Gecko) Version/7.0.6 Safari/537.78.2"')]

In [20]:
%sql
delte from staging_events;
delete from staging_songs;
delete from songplays;
delete from users;
delete from songs;
delete from artists;
delete from time;

SyntaxError: invalid syntax (<ipython-input-20-8f7170538393>, line 2)